/* Base Styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    background-color: hsl(204, 43%, 93%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: 700;
    color: hsl(179, 62%, 45%);
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: 700;
    color: #fff;
}

p {
    margin: 0;
}

/* Sections */

main {
    width: 85%;
    margin: 50px 0;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.05);
}

.header,
.pricing,
.why-us {
    padding: 30px 20px;
}

.header {
    background-color: #fff;
    color: hsl(218, 22%, 67%);
    line-height: 1.8em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.guarantee {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
}

.pricing {
    background-color: hsl(179, 62%, 40%);
    color: #fff;
}

.pmt-details {
    display: flex;
    align-items: center;
}

.price {
    font-size: 2em;
}

.pmt-frequency {
    margin-left: 10px;
    font-weight: 200;
    opacity: 0.5;
}

.pricing p {
    margin: 10px 0;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    background-color: hsl(71, 73%, 54%);
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 7px #777;
    font-family: inherit;
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;
}

.why-us {
    background-color: hsl(179, 62%, 45%);
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.why-us p {
    opacity: 0.7;
    padding: 3px 0;
}

/* Footer */

footer {
    width: 100%;
    padding-bottom: 10px;
    align-self: flex-end;
}

.attribution { 
    font-size: 0.8rem; 
    color: hsl(218, 22%, 67%);
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none; 
}

/* Media Queries */

@media (min-width: 992px) {
    main {
        width: 70%;
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
    }

    .header {
        flex-basis: 100%;
    }

    .pricing,
    .why-us {
        flex-basis: 50%;
    }

    .header,
    .pricing,
    .why-us {
        padding: 40px 30px;
}

    .pricing {
       border-bottom-left-radius: 5px;
    }

    .why-us {
    border-bottom-left-radius: 0px;
    }
}